<%- partial ('common/navbar.ejs') %>

<div class="jumbotron">
  <div class="col-sm-4 text-center">
    <img src="/images/khanh.jpg" class="img-circle img-thumbnail" alt="Cinque Terre" width="200" height="200">
  </div>
  <div class="col-sm-8">
    <h4>Xin chào , tôi tên Khánh</h4>
    <p>Bạn đang xem trang ExchangeJS, lập trình trên nguồn Sails JS, 1 Framework của Node JS. Tôi đã viết trang này trong khoảng 1 tháng ,
      nếu bạn có mong muốn sử dụng thì đừng ngại ngùng, hãy liên hệ ngay với tôi theo thông tin bên dưới.  </p>
  </div>
</div>

<div class="container text-center contact-page">
  <div class="col-sm-4">
    <img src="/images/gianghi.jpg" class="img-circle img-thumbnail" width="100" height="100">
    <p><a href="tel:0989333900">Phone</a></p>
  </div>
  <div class="col-sm-4">
    <img src="/images/gianghi.jpg" class="img-circle img-thumbnail" width="100" height="100">
    <p><a href="mailto:trancatkhanh@gmail.com">Email</a></p>
  </div>
  <div class="col-sm-4">
    <img src="/images/gianghi.jpg" class="img-circle img-thumbnail" width="100" height="100">
    <p><a href="https://www.facebook.com/kingasawa.chan"></a>Facebook</p>
  </div>
</div>


<%- partial ('common/footer.ejs') %>
