<div class="col-sm-3 row" id="right_side">
  <div class="panel panel-success">
    <div class="panel-heading">ĐÁNH GIÁ & NHẬN XÉT</div>
    <div class="panel-body">
      <blockquote>
        <p><h5>Chuyển tiền nhanh , rất chuyên nghiệp.</h5></p>
        <footer>Khánh Trần <cite title="Source Title">1 ngày trước</cite></footer>
      </blockquote>
    </div>
    <div class="panel-body">
      <p><strong>Khánh Trần</strong> <span class="comment pull-right">1 ngày trước</span></p>
      <p><i class="fa fa-quote-left fa-pull-left fa-border" aria-hidden="true"></i> chuyển tiền nhanh , rất chuyên nghiệp</p>
    </div>
  </div>
</div>
