<div class="col-sm-3 row" id="right_side">
  <div class="panel panel-success">
    <div class="panel-heading">ĐÁNH GIÁ & NHẬN XÉT</div>
    <div class="panel-body panel-review">
      <p><strong>Khánh Trần</strong> <span class="comment-date pull-right"><i class="fa fa-clock-o" aria-hidden="true"></i> 1 ngày trước</span></p>
      <span class="review-cm">chuyển tiền nhanh , rất chuyên nghiệp</span>
    </div>
    <hr>
    <div class="panel-body panel-review">
      <p><strong>Khánh Trần</strong> <span class="comment-date pull-right"><i class="fa fa-clock-o" aria-hidden="true"></i> 1 ngày trước</span></p>
      <span class="review-cm">chuyển tiền nhanh , rất chuyên nghiệp</span>
    </div>
  </div>
</div>
