/* Remove the navbar's default margin-bottom and rounded borders */
/* Main Page */
/*html, body {*/
  /*height: 100%;*/
/*}*/

body {
  letter-spacing: 0.5px;
}
a:hover, a:focus {
  text-decoration: none !important;
}

.list-group-item:last-child {
  margin-bottom: -1px;
  border-radius:0;
}
li.list-group-item:hover {
  background:#616161;
  color:#fff;
}
.list-group-item:hover .badge ,.list-group-item.active .badge{
  background: #f5e1ca;
  color:#4b8c95;
}
/* Top Page */
.navbar {
  margin-bottom: 10px;
  border-radius: 0;
}
.nav-tabs {
  border:none !important;
}
.jumbotron {
  margin-top:-10px;
  min-height:300px;
  background:#4b8c95;
  color:#f5e1ca !important;
}

.carousel-inner img {
  width: 100%; /* Set width to 100% */
  min-height: 200px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
  .carousel-caption {
    display: none;
  }
}
.modal-header {
  background:#a94442;
  color:#fff;
}
 /*Left Side */
.sidenav {
  background-color: #d9edf7;
}
.sidenav h4 {
  color:#222;
  font-weight: 200;
}
span.title_ban {
  color:#a90000;
  font-weight: bold;
  font-size: 24px;
}
span.title_mua {
  color:#0088cc;
  font-weight: bold;
  font-size: 24px;
}

 /*Icon Color */
.fa-credit-card-alt:before {
  color:#004c92;
}
.fa-check:before {
  color:#408841;
}
.fa-times:before {
  color:#a94442;
}
input#number_vcb , input#name_vcb {
  font-size: 18px;
  font-weight: 500;
}
/* Content Page */
div#check_ {
  min-width: 56px;
}
p.txt_vcb {
  color:#336734;
  font-weight: bold;
  font-size:16px;
  line-height: 30px;
}

table input[type="checkbox"] {
  position: relative !important;
}

@media (max-width: 600px) {
  .container {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
}
p.post {
  background: #fff;
  padding:8px;
}

.top-review  li.list-group-item {
  float:left;
  padding:6px 5px !important;
}
.top-review .hinh {
  width:20%;
  float:left;
}

.top-review .noidung {
  float:left;
  width:80%;
  padding:2px;
  line-height: 14px;
  height:52px;
  overflow: hidden;
  text-overflow: ellipsis !important;
}
span.review-title {
  font-weight: bold;
  width:100%;
  float:left;
  margin-bottom: 4px;
  font-size: 15px;
}
span.review-content {
  font-size: 13px;
  color:#737373;
}
.top-review ul.list-group {
  margin:0;
}

select#threads {
  max-width: 250px;
}
select#status {
  max-width: 100px;
}
form#login {
  max-width: 500px;
  margin-bottom: 25px;
  padding:20px;
}

form#register {
  max-width: 500px;
  margin-bottom: 25px;
  padding:20px;
}

table#manage_exchange > thead,table#manage_item > thead {
  background:#a94442;
  color:#fff
}
table#manage_exchange th {
  font-weight: 200;
  letter-spacing: 0.8px;
}

.panel-footer {
  background: #fff;
}
blockquote {

  border-left:5px solid #a94442;
}
.panel-review {
  padding:10px;
}

.panel-review p {
  margin-bottom: 3px;
}
span.comment-date {
  color:#939393;
}
span.review-cm {
  color:#636363;
}
kbd {
  background:#a94442;
}
hr {
   margin:0;
}
.contact-page {
  margin-top:50px;
}

.list-group-item.active, li.list-group-item.exchange-active:hover, .list-group-item.active:focus {
  background:#4b8c95;
  border:1px solid #4b8c95;
  color:#f5e1ca;
}
li.list-group-item.exchange-active img {
  max-width:15px;
}

.ex_status {
  font-weight: bold;
}
/* Add a gray background color and some padding to the footer */
footer {
  padding:15px;
  background-color: #222;
  color:#f5e1ca;
}
