<footer class="footer ">
  <span class="footer">Copyright <i class="fa fa-copyright" aria-hidden="true"></i> 2016</span>
  <span class="owner"> by Khánh Trần</span>
  <span class="pull-right"><a href="#"><i class="fa fa-facebook-official fa-lg" aria-hidden="true"></i>acebook</a></span>
</footer>
